
#header-container{
    font-size: 2rem;
    font-weight: 700;
    height: 80px;
    width: 100%;
    background-color: rgba(38, 38, 226, 0.774);
    color: white;
    list-style: none;
    
    ul{
        float: right;
        font-size: 25px;
       
        
    .sign-in-list {
        list-style: none;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
         
        .anchor{
            color: white;
            text-decoration: none;
            margin-left: 7px;
        }
    
    }
}
    
}
    
