 
#header-container{
   display: flex;
   justify-content: space-between;
    height: 80px;
    width: 100%;
    background-color: rgba(38, 38, 226, 0.774);
    min-width:500px ;
    
    #heading{
        margin-top: 14px;
        font-size: 2rem;
        font-weight: 700;
        color: white;
    }

    .auto-links{
        margin-top: 14px;
        
    ul{
        margin: 5% 5px;
        display: flex;
        list-style: none;
        
         
       li{
        font-size: 1.5rem;
        margin-right: 10px;
       }
        }
    
    }
    a{
        color: white;
        text-decoration: none;
    }
}
    

    
