#home-container{
    display: flex;
    height: 100%;
    // background-image: url('../images/flower.jpg');
    background-image: url('../images/flower.jpg');
        background-size: cover;
        overflow: scroll;
    
    #feed-posts{
        width: 70%;
        padding: 10px;

        .heading{
            color: grey;
            font-size: 30px;
            font-weight: 700;
        }
        
    }

    #user-friends{
        width: 30%;
        padding: 10px;
        border-left: 1px solid lightgray;
        height: 100%;


        .heading{
            color: grey;
            font-size: 30px;
            font-weight: 700;
        }
    }
}