body{
    background-image: url(https://1.bp.blogspot.com/-Ipdxuz2ZT34/YUtRkCfgPkI/AAAAAAAAk_c/uQaoYQdhY4s1ysFdn59Mjm8RGPpo5OyMQCLcBGAsYHQ/s720/50%2B%252B%2BIndian%2BHijab%2BGirl%2BDP%2Bfor%2BInstagram%2BPage%2Bwith%2BCaption%2B%25285%2529.jpg);
    background-repeat: no-repeat;
    // background-size: contain;
    background-size: cover;
}